* {
  margin: 0;
  padding: 0;
}
/*Estilo de la pagina principal*/
.menu {
  background: #edbc7b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}
.menu div img {
  width: 12%;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style-type: none;
  padding: 0 0.5rem;
  background: #f5e7bf;
  margin: 1px;
}

.menu ul li a {
  padding: 1rem;
  color: black;
  font-weight: 800;
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main section.list-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 700px;
}

/*seccion de historia y compromiso*/
main section.content {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  padding-bottom: 1rem;
}

.content h2 {
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
}
/*Imagen de historia y compromiso*/
.content .content-image {
  position: relative;
  width: 90%;
  height: 700px;
  max-width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.content .content-image img {
  padding: 1rem auto;
  position: absolute;
  width: 100%;
}

.sub-title {
  padding: 1rem;
}
/*estilo del peie de pagina*/
footer p {
  background: #edbc7b;
  text-align: center;
  color: black;
  padding: 0.3rem 2rem;
}
/*Estilo de la pagina del catalogo*/
.card {
  background: white;
  margin-bottom: 1rem;
  background: #e8d3b7; 
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 100px;
  overflow: hidden;
}
/*imagenes del catalogo*/
.card .card-image {
  width: 20%;
}
/*descripcion de los productos*/
.card .card-content {
  padding: 1rem;
  width: 70%;
}
/*precio de los productos*/
.card .card-price {
  padding: 1rem;
  width: 15%;
}
/*Estilo de los mas solicitados*/
.card-2 {
  box-shadow: 0px 4px 13px 0px #ccc;
  margin-bottom: 2rem;
  background: #fff; 
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 350px;
  overflow: hidden;
}
.card-2 img{
  max-height: 200px;
}
.card-2 .card-content-2 {
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.card-price-2 {
  text-align: center;
}
/*Estilo de la pagina Login*/
.main-contact {
  background: #ddebf7;
  position: relative;
  height: 110vh;
}
.content-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  border: 8px solid #eba817;
  border-radius: 15px;
  background: #0d0d31;
  position: absolute;
  top: 5%;
  left: 36%;
}
.content-contact form{
  width: 80%;
}

.content-contact h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.content-contact .user-box {
  position: relative;
}

.content-contact .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #eba817;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.content-contact .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #eba817;
  pointer-events: none;
  transition: .5s;
}

.content-contact .user-box input:focus ~ label,
.content-contact .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #eba817;
  font-size: 12px;
}

.form-checkbox span{
  color: red;
}

.form-button {
display: flex;
margin: 2rem 0;
width: 100%;
}
.form-button button{
  background: #eba817;
  font-size: 20px;
  font-weight:400;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  width: 100%;
}
.form-footer{
  color: white;
  text-align: center;
}
.form-footer span{
  font-weight: 700;
  color: #eba817;
}
/* estilo del la pagina de registro*/
.main-register{
   position: relative;
  background: #ddebf7;
  height: 110vh;
}
.content-register {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  height: 500px;
  border: 5px solid #eba817;
  border-radius: 15px;
  background: #232f3c;
  position: absolute;
  top: 5%;
  left: 36%;
  padding: 2rem;
}

.content-register h2 {
  color: #ccc;
  font-size: 30px;
  padding-bottom: 1rem;
}

.form-register{
  width: 100%;
  }

.form-register input{
  width: 90%;
  color: #eba817;
  padding: 1rem;
  border: 1px solid #eba817;
  border-radius: 15px;
  background: #232f3c;
  margin: 10px auto;
}
.form-register h4{
  padding: 1rem;
  text-align: center;
  color: #ccc;
}

.form-register button{
  background: #eba817;
  font-size: 20px;
  font-weight:400;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  width: 100%;
}
.form-register p{
  padding: 1rem;
  color: #ccc;
  text-align: center;
}